#menu
{
	position: fixed;
	width: 99%;
	height: 170px;
	background-image: url("menubackground.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	color: #0B0B61;
	font-family: verdana;
	font-size: large;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 3em 1em 3em;
	padding: 8px;
}
body 
{
	background-image: url("background.jpg");
	font-size: x-large;
	font-weight: bold;
}

h1 
{
	color: #DF0101;
	margin-left: 40px;
	font-style: italic;
	text-decoration: underline;
	text-shadow: 3px 2px black;
}
a:hover {
  color: green;
}
img:hover {
    box-shadow: 0 0 2px 2px;
    transform: scale(1.3);
}